.first_section
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,46,51,1) 80%, rgba(9,46,51,1) 100%);
    &-content
        width: 100%;
        grid-area: content;
        display: grid;
        grid-template-columns: repeat( 3, 1fr );
        grid-column-gap: 85px
        @media screen and ( max-width: 768px )
            display: flex;
            flex-direction: column
            align-items: center;
            text-align: center
            padding: calculateHeight(57) 0;
        &-block
            display: flex;
            flex-direction: column;
            justify-content: center
            color: $white
            position: relative
            @media screen and ( max-width: 768px )
                position: static
            .image_block
                position: relative
                @media screen and ( max-width: 768px )
                    margin: 14px 0px
                @media screen and ( max-width: 500px )
                    width: 50%;
                    margin: 14px auto
                img
                    width: 100%;
                .button
                    position: absolute;
                    width: 60%;
                    text-align: center
                    left: 50%;
                    margin-left: -30%;
                    @media screen and ( max-width: 768px )
                        display: none
            .arrow_down 
                position: absolute;
                width: calculateWidth(50)
                height: calculateWidth(50)
                border: 2px solid $blue
                bottom: 50px
                left: 50%;
                margin-left: calculateWidth(-25)
                border-radius: 10px
                transition: border-color .3s
                @media screen and ( max-width: 768px )
                    display: none
                    width: tW(50)
                    height: tW(50)
                    margin-left: tW(-25)
                @media screen and ( max-width: 500px )
                    width: 50px;
                    height: 50px;
                    bottom: initial;
                    left: initial;
                    margin: initial
                &:hover
                    border-color: $white
                    &::after
                        border-color: $white
                &::after
                    content: ''
                    position: absolute;
                    width: 30%;
                    height: 30%;
                    border-left: 2px solid $blue
                    border-bottom: 2px solid $blue
                    top: 50%;
                    margin-top: -20%
                    left: 50%;
                    margin-left: -15%;
                    transform: rotate(-45deg)
                    transition: border-color .3s
            p 
                text-align: left;
                max-width: 50%
                @media screen and ( max-width: 768px )
                    text-align: center;
                    max-width: 70%
                    margin: 0 auto
        .mobile_show
            align-items: center;
            @media screen and ( min-width: 768px )
                display: none
            .arrow_down
                margin-top: calculateHeight(58)
                display: block !important
                position: relative !important