@import 'imports/reset.sass'
@import 'imports/functions.sass'
@import 'imports/colors.sass'
@import 'imports/fonts.sass'
@import 'imports/global.sass'

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) 
  // For Google Chrome
  &::-webkit-scrollbar 
    width:  $size;
    height: $size;
  

  &::-webkit-scrollbar-thumb 
    background: $foreground-color;
  

  &::-webkit-scrollbar-track 
    background: $background-color;
  
  // For Internet Explorer
  & 
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;

body
    @import 'sections/first_section'
    @import 'sections/second_section'
    @import 'sections/third_section' 
    @import 'sections/fourth_section' 
    .fives_section
        background: linear-gradient(90deg, rgba(21,24,44,1) 0%, rgba(9,35,41,1) 80%, rgba(9,46,51,1) 100%);
        &-content
            display: flex;
            justify-content: center
            flex-direction: column
            color: $white
            h3 
                margin-top: calculateHeight(25)
            .articles
                max-width: 70%
                overflow-x: scroll
                margin-top: calculateHeight(52)
                display: grid;
                grid-template-columns: repeat( 5, 45% )
                grid-row-gap: calculateHeight(50)
                grid-column-gap: calculateWidth(60)
                padding-bottom: calculateHeight(60)
                @include scrollbars(.5em, $blue, $gray);
                .article 
                    padding-left: calculateWidth(38)
                    border-left: 1px solid $gray;
                    p 
                        color: $gray
                            

