@import 'imports/reset.sass'
@import 'imports/functions.sass'
@import 'imports/colors.sass'
@import 'imports/fonts.sass'
@import 'imports/global.sass'

@import 'imports/mixins'

body
    @import 'components/header.sass'
    .services
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,46,51,1) 80%, rgba(9,46,51,1) 100%);
        width: 100%;
        height: 100vh
        display: grid;
        grid-template-columns: 80% 20%;
        max-width: calc( 100vw - 10.4166666667vw );
        @media screen and ( max-width: 768px )
            height: 100%;            
            grid-template-columns: initial
            max-width: initial
        #order
            position: fixed
            top: 0;
            left: 0;
            z-index: 999999;
            background: rgba(0, 0, 0, .8);
            width: 100%;
            height: 100%;
            display: none;
            align-items: flex-end
            justify-content: flex-end
            @media screen and ( max-width: 768px )
                align-items: center;
                justify-content: center
            .order_content
                padding: calculateHeight(80) calculateWidth(90);
                background: $form
                color: $white
                max-width: 50%;
                position: relative
                @media screen and ( max-width: 768px )
                    max-width: 90%;
                #order_cross
                    width: 26px;
                    height: 26px
                    position: absolute;
                    top: calculateHeight(80);
                    right: 55px;
                    cursor: pointer
                    &::after,
                    &::before
                        position: absolute;
                        content: '';
                        height: 100%;
                        width: 1px;
                        background: $white;
                        transform: rotate(45deg)
                        top: 0;
                        left: 50%;
                        margin-left: -0.5px
                    &::before
                        transform: rotate(-45deg)

                h3
                    margin-top: calculateHeight(50)
                p 
                    max-width: 50%
                    @media screen and ( max-width: 768px )
                        max-width: initial
                #order_price
                    color: $blue
                    margin: calculateHeight(35) 0 calculateHeight(50);
                    display: block
                &-slide
                    display: grid;
                    grid-template-columns: repeat( 2, 1fr )
                    grid-column-gap: 50px
                    grid-row-gap: 12px
                    width: 100%;
                    max-width: 100%;
                    @media screen and ( max-width: 768px )
                        grid-template-columns: 1fr
                        input
                            &:nth-of-type(1)
                                grid-row: 2/4
                    input,
                    textarea 
                        width: 100%;
                        background: transparent
                        border: initial;
                        border-bottom: 1px solid $form_border;
                        outline: none;
                        outline-color: $blue
                        color: $white;
                    input[type="submit"]
                        border: initial
                        padding: 10px 15px;
                        background: $blue;
                        border-radius: 5px
                        cursor: pointer
                .captcha
                    display: flex;
                    @media screen and ( max-width: 768px )
                        flex-direction: column
                    .grecaptcha-badge
                        position: static !important
                .swiper__controls
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: calculateHeight(60)
                    .swiper-button-prev2,
                    .swiper-button-next2
                        border-radius: 50%;
                        width: 40px 
                        height: 40px
                        outline: none;
                        background-color: $dark3;
                        cursor: pointer
                        position: relative;
                        &::after
                            position: absolute;
                            content: ''
                            width: 30%;
                            height: 30%;
                            border-left: 2px solid $white;
                            border-bottom: 2px solid $white;
                            transform: rotate(45deg);
                            top: 50%;
                            left: 50%;
                            margin-top: -15%;
                            margin-left: -10%;
                    .swiper-button-next2
                        width: 50px 
                        height: 50px
                        background-color: $blue;
                        &::after
                            border: initial
                            border-right: 2px solid $white;
                            border-top: 2px solid $white;
                            left: initial
                            right: 50%;
                            margin-left: initial;
                            margin-right: -15%;
                    .swiper-pagination2
                        width: 80%
                        display: inline-flex;
                        justify-content: space-around
                        .swiper-pagination-bullet
                            width: 20%;
                            background: $dark3
                            border-radius: 0
                        .swiper-pagination-bullet-active
                            background: $blue
                            width: 44%;

                
        &__content
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;
            @media screen and ( max-width: 768px )
                grid-row: 2
                padding-bottom: 100px
            @import 'services/all_services'
            @import 'services/conditions'
            @import 'services/sales'

        &__switcher
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center
            @media screen and ( max-width: 768px )
                flex-direction: row
                align-items: center;
                justify-content: space-between
            ul 
                @media screen and ( max-width: 768px )
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%
                    padding: 58px 18px
                li
                    margin: calculateHeight(114) 0;
                    display: flex;
                    align-items: center;
                    @media screen and ( max-width: 768px )
                        flex-direction: column;
                        margin: initial
                        &:nth-child(2)
                            margin: 0 tW(82 * 2)
                    @media screen and ( max-width: 768px )
                        &:nth-child(2)
                            margin: 0 tW(50 * 2)
                    &:not(:last-child)
                        .state_switcher
                            &::before
                                content: ''
                                width: 2px;
                                background: $gray;
                                position: absolute;
                                bottom: calculateHeight(-114);
                                left: 50%;
                                margin-left: -1px;
                                height: calculateHeight(114)
                                @media screen and ( max-width: 768px )
                                    bottom: initial
                                    height: 2px
                                    width: tW(82 * 2 + 18)
                                    right: tW(-82 * 2 - 18)
                                    left: initial
                                @media screen and ( max-width: 500px )
                                    width: calc(41px * 2 )
                                    right: calc(41px * -2 )
                    .state_switcher
                        width: calculateWidth(50)
                        height: calculateWidth(50)
                        background: $gray;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer
                        opacity: .8
                        position: relative
                        @media screen and ( max-width: 768px )
                            width: tW(50)
                            height: tW(50)
                        @media screen and ( max-width: 500px )
                            width: 50px
                            height: 50px
                        svg
                            width: 80%;
                    span 
                        color: $gray;
                        margin-left: calculateWidth(36)
                        @media screen and ( max-width: 768px )
                            margin-top: tH(18 + 10)
                            margin-left: initial
                        @media screen and ( max-width: 500px )
                            margin-top: 28px
                .active
                    .state_switcher
                        background: $blue;
                        opacity: 1;
                        &::after
                            content: '';
                            position: absolute;
                            width: calculateWidth(86)
                            height: calculateWidth(86)
                            border: 1px solid $blue;
                            border-radius: 50%;
                            @media screen and ( max-width: 768px )
                                width: tW(86)
                                height: tW(86)
                            @media screen and ( max-width: 500px )
                                width: 86px
                                height: 86px
                    span
                        color: $white;

    @import 'sections/last_section'
                        

