@import 'imports/reset.sass'
@import 'imports/functions.sass'
@import 'imports/colors.sass'
@import 'imports/fonts.sass'
@import 'imports/global.sass'

@import 'imports/mixins'

body
    @import 'components/header.sass'
    .services
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,46,51,1) 80%, rgba(9,46,51,1) 100%);
        width: 100%;
        height: 100vh
        display: grid;
        grid-template-columns: 80% 20%;
        max-width: calc( 100vw - 10.4166666667vw );
        &__content
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;
            @import 'services/all_services'
            @import 'services/conditions'
            @import 'services/sales'

        &__switcher
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center
            ul 
                li
                    margin: calculateHeight(114) 0;
                    display: flex;
                    align-items: center;
                    &:not(:last-child)
                        .state_switcher
                            &::before
                                content: ''
                                width: 2px;
                                background: $gray;
                                position: absolute;
                                bottom: calculateHeight(-114);
                                left: 50%;
                                margin-left: -1px;
                                height: calculateHeight(114)
                    .state_switcher
                        width: calculateWidth(50)
                        height: calculateWidth(50)
                        background: $gray;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer
                        opacity: .8
                        position: relative
                        svg
                            width: 80%;
                    span 
                        color: $gray;
                        margin-left: calculateWidth(36)
                .active
                    .state_switcher
                        background: $blue;
                        opacity: 1;
                        &::after
                            content: '';
                            position: absolute;
                            width: calculateWidth(86)
                            height: calculateWidth(86)
                            border: 1px solid $blue;
                            border-radius: 50%;
                    span
                        color: $white;
                        

