footer.footer.main_padding#footer
    .footer_content
        .footer_content-column
            h3.logo_font-footer Hacktougroup
            .header__navigation-social
                a(href="#")
                    include ../../../../build/static/img/svg/telegram.svg
                a(href="#")
                    include ../../../../build/static/img/svg/support.svg
        .footer_content-column
            h4.footer_font-headings Контакты
            ul.contact_list 
                li 
                    a(href="#")  
                        include ../svg/telegram_white
                        span.regular_font @hacktogroup
                li 
                    a(href="#")  
                        include ../svg/mail
                        span.regular_font freelansband@mail.ru
        .footer_content-column
            h4.footer_font-headings Оплата
            ul.payment
                li 
                    a(href="#")
                        include ../svg/qiwi
                li
                    a(href="#")
                        include ../svg/yandex
                li
                    a(href="#")
                        include ../svg/bitcoin
        .footer_content-column.author
            h4.regular_font.underline.underline_white Designe by Vovk