header.header  
    a(href="index.html").header-logo.logo_font-header Hg
    .burger
    nav.header__navigation 
        ul.header__navigation-opened
            -var pages = new Map();
            -pages.set('Главная', [ 'firstPage', '#firstPage' ]).set('Преимущества', ['secondPage', '#secondPage']).set('О нас', ['thirdPage', '#thirdPage']);
            -pages.set('Услуги', ['fourthPage', '#fourthPage']).set('Статьи', ['fivesPage', '#fivesPage']).set('Контакты', ['lastPage', '#lastPage']);
            
            -for (let [key, value] of pages){
                li( data-menuanchor=""+ value[0] )
                    a(href="" + value[1]).menu_font= key
            -}

        ul.header__navigation-closed.hidded
            -let pagesAlternative = new Map();
            -pagesAlternative.set('Главная', 'index.html').set('Услуги', 'services.html').set('Отзывы', 'reviews.html');

            -for (let [key, value] of pagesAlternative){
                li.active_link
                    a(href="" + value).menu_font= key
            -}
            li 
                .header__navigation-social
                    a(href="#")
                        include ../../../../build/static/img/svg/telegram.svg
                    a(href="#")
                        include ../../../../build/static/img/svg/support.svg
                        
        