header.header  
    a(href="#").header-logo.logo_font-header Hg
    .burger
    nav.header__navigation 
        ul.header__navigation-opened
            li( data-menuanchor="firstPage" ).active_link
                a(href="#firstPage").menu_font Главная
            li( data-menuanchor="secondPage" )
                a(href="#secondPage").menu_font Преимущества
            li( data-menuanchor="thirdPage" )
                a(href="#thirdPage").menu_font О нас
            li( data-menuanchor="fourthPage" )
                a(href="#fourthPage").menu_font Услуги
            li( data-menuanchor="fivesPage" )
                a(href="#fivesPage").menu_font Статьи


        ul.header__navigation-closed.hidded
            -for (let [key, value] of pagesAlternative){
                li
                    a(href="" + value).menu_font= key
            -}
            li 
                .header__navigation-social
                    a(href="#")
                        include ../../../../build/static/img/svg/telegram.svg
                    a(href="#")
                        include ../../../../build/static/img/svg/support.svg
                        
        