svg(xmlns="http://www.w3.org/2000/svg" width="14.351" height="26.421" viewBox="0 0 14.351 26.421")
  g( id="dollar-tag" transform="translate(-109.301)")
    g( id="Group_366" data-name="Group 366" transform="translate(109.301)" )
      g( id="Group_365" data-name="Group 365" transform="translate(0)" )
        path( id="Path_1127" data-name="Path 1127" d="M123.16,8.951l-3.633-4.594a3.912,3.912,0,0,0-2.5-1.436V.552a.552.552,0,1,0-1.1,0V2.921a3.839,3.839,0,0,0-2.49,1.436l-3.644,4.6a2.3,2.3,0,0,0-.491,1.414v13.8a2.262,2.262,0,0,0,2.269,2.253h9.8a2.262,2.262,0,0,0,2.28-2.242V10.37A2.328,2.328,0,0,0,123.16,8.951ZM116.479,8.3a1.607,1.607,0,1,1-1.607,1.607A1.6,1.6,0,0,1,116.479,8.3Zm6.074,15.864a1.157,1.157,0,0,1-1.176,1.149h-9.8a1.157,1.157,0,0,1-1.176-1.149V10.37a1.159,1.159,0,0,1,.254-.729l3.639-4.6a2.769,2.769,0,0,1,1.629-1V7.256a2.713,2.713,0,1,0,1.1,0V4.042a2.791,2.791,0,0,1,.657.221,2.754,2.754,0,0,1,.966.779L122.3,9.635a1.185,1.185,0,0,1,.254.734Z" transform="translate(-109.301)" fill="#d9efff")
    g(id="Group_368" data-name="Group 368" transform="translate(114.633 15.549)")
      g(id="Group_367" data-name="Group 367" transform="translate(0)")
        path(id="Path_1128" data-name="Path 1128" d="M209.479,286.189a1.849,1.849,0,0,0-1.761-1.292.74.74,0,1,1,.74-.74.552.552,0,0,0,1.1,0,1.849,1.849,0,0,0-1.292-1.761v-.243a.552.552,0,1,0-1.1,0v.243a1.845,1.845,0,0,0,.552,3.606.74.74,0,1,1-.74.74.552.552,0,0,0-1.1,0,1.849,1.849,0,0,0,1.292,1.761v.276a.552.552,0,0,0,1.1,0V288.5A1.848,1.848,0,0,0,209.479,286.189Z" transform="translate(-205.871 -281.6)" fill="#d9efff")

