<svg xmlns="http://www.w3.org/2000/svg" width="24.788" height="23.56" viewBox="0 0 24.788 23.56">
  <g id="home" transform="translate(0 -12.676)">
    <g id="Group_463" data-name="Group 463" transform="translate(0 12.675)">
      <g id="Group_462" data-name="Group 462" transform="translate(0 0)">
        <path id="Path_1239" data-name="Path 1239" d="M24.371,23.143,13.25,13.009a1.265,1.265,0,0,0-1.712,0L.416,23.143a1.271,1.271,0,0,0,.856,2.211H3.049V35.507a.729.729,0,0,0,.729.729h6.1a.729.729,0,0,0,.729-.729V29.342h3.583v6.165a.729.729,0,0,0,.729.729h6.1a.729.729,0,0,0,.729-.729V25.354h1.777a1.271,1.271,0,0,0,.856-2.211Z" transform="translate(0 -12.675)" fill="#fff"/>
      </g>
    </g>
    <g id="Group_465" data-name="Group 465" transform="translate(16.653 14.131)">
      <g id="Group_464" data-name="Group 464" transform="translate(0 0)">
        <path id="Path_1240" data-name="Path 1240" d="M348.868,42.73h-4.9l5.624,5.114V43.459A.729.729,0,0,0,348.868,42.73Z" transform="translate(-343.973 -42.73)" fill="#fff"/>
      </g>
    </g>
  </g>
</svg>
