svg(xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22")
  g(id="Group_369" data-name="Group 369" transform="translate(-977 -678.502)")
    rect(id="Rectangle_1416" data-name="Rectangle 1416" width="10" height="10" rx="2" transform="translate(977 678.502)" fill="#fff")
    rect(id="Rectangle_1417" data-name="Rectangle 1417" width="10" height="10" rx="2" transform="translate(989 678.502)" fill="#fff")
    rect(id="Rectangle_1418" data-name="Rectangle 1418" width="10" height="10" rx="2" transform="translate(989 690.502)" fill="#fff")
    rect(id="Rectangle_1419" data-name="Rectangle 1419" width="10" height="10" rx="2" transform="translate(977 690.502)" fill="#fff")

