<svg xmlns="http://www.w3.org/2000/svg" width="18.349" height="24.402" viewBox="0 0 18.349 24.402">
  <path id="audit" d="M15.99,1.906H12.395A2.86,2.86,0,0,0,7,1.906H3.36A2.863,2.863,0,0,0,.5,4.766V21.542A2.863,2.863,0,0,0,3.36,24.4H15.993a2.863,2.863,0,0,0,2.857-2.86V4.766a2.863,2.863,0,0,0-2.86-2.86ZM8.745,3.813V2.86a.953.953,0,0,1,1.906,0v.953h1.906V5.672H6.839V3.813Zm8.2,17.73a.954.954,0,0,1-.951.953H3.36a.954.954,0,0,1-.953-.953V4.766a.954.954,0,0,1,.953-.953H4.932V7.578h9.532V3.813H15.99a.954.954,0,0,1,.953.953ZM13.33,10.964l1.41,1.283-6.1,6.708L4.6,15.055l1.326-1.37,2.62,2.534Zm0,0" transform="translate(-0.5)" fill="#fff"/>
</svg>
