doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css")

    body
        -let pagesAlternative = new Map();
            -pagesAlternative.set('Главная', '#').set('Услуги', '#').set('Отзывы', '#');

        section.section
            include components/header
            #fullpage       
                // TODO: normal global classes for section left/right

                include sections/first_section
                include sections/second_section
                include sections/third_section
                include sections/fourth_section
                include sections/fives_section
                section.section.last_section
                    .section_wrapper
                        .last_section-content.main_padding
                            h2.blue_font Предоставляем услуги для: 
                            .partners
                                .partners__content
                                    a(href="#")
                                        img(src="static/img/svg/darkmoney.svg", alt="")
                                    a(href="#")
                                        img(src="static/img/svg/darkmarket-removebg-preview.svg", alt="")
                                    a(href="#")
                                        img(src="static/img/svg/darkmoney.svg", alt="")
                                    a(href="#")
                                        img(src="static/img/svg/darkmoney.svg", alt="")
                                    a(href="#")
                                        img(src="static/img/svg/darkmoney.svg", alt="")
                                    a(href="#")
                                        img(src="static/img/svg/darkmoney.svg", alt="")
                        footer.footer.main_padding   
                            .footer_content
                                .footer_content-column
                                    h3.logo_font-footer Hacktougroup
                                    .header__navigation-social
                                        a(href="#")
                                            include ../../../build/static/img/svg/telegram.svg
                                        a(href="#")
                                            include ../../../build/static/img/svg/support.svg
                                .footer_content-column
                                    h4.footer_font-headings Контакты
                                    ul.contact_list 
                                        li 
                                            a(href="#")  
                                                include svg/telegram_white
                                                span.regular_font @hacktogroup
                                        li 
                                            a(href="#")  
                                                include svg/mail
                                                span.regular_font freelansband@mail.ru
                                .footer_content-column
                                    h4.footer_font-headings Оплата
                                    ul.payment
                                        li 
                                            a(href="#")
                                                include svg/qiwi
                                        li
                                            a(href="#")
                                                include svg/yandex
                                        li
                                            a(href="#")
                                                include svg/bitcoin
                                .footer_content-column.author
                                    h4.regular_font.underline.underline_white Designe by Vovk

                            
                            

        script(src="static//js//libs.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="static//js//main.js")