doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static\\css\\services.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css")

    body
        section.section
            include components/headerServices
            #fullpage       
                section.services
                    .services__content.main_padding
                        include services/all_services
                        include services/conditions
                        include services/sales

                    .services__switcher
                        ul#switcher 
                            li.active( data-target=".all_services" ) 
                                .state_switcher
                                    include svg/switch_state
                                span.small_font Все услуги
                            li( data-target=".conditions" )  
                                .state_switcher
                                    include svg/switch_state2
                                span.small_font Условия
                            li( data-target=".sales" )  
                                .state_switcher
                                    include svg/switch_state3
                                span.small_font Скидки
                        

        script(src="static//js//libs.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="static//js//main.js")
        script(src="static//js//services.js")