doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static\\css\\services.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css")

    body
        section.section
            include components/headerServices
            #fullpage       
                section.services
                    .services__content.main_padding
                        .all_services
                            h2.blue_font Все услуги
                            h3.headings_font Наши услуги
                            .slider.swiper-container
                                .slider__content.swiper-wrapper
                                    .slider__content-item.swiper-slide
                                        h4.services_font Vk.com
                                        ul 
                                            li
                                                span.blue_font (Архив диалогов VK.com)
                                                .price
                                                    include svg/coupon 
                                                    span.subtitle_font от 100$
                                            li
                                                span.blue_font (Архив диалогов VK.com)
                                                .price
                                                    include svg/coupon 
                                                    span.subtitle_font от 100$
                                            li
                                                span.blue_font (Архив диалогов VK.com)
                                                .price
                                                    include svg/coupon 
                                                    span.subtitle_font от 100$

                                        a(href="#").order
                                            .order-truck
                                                include svg/truck 
                                            span.menu_font  Заказать

                                    .slider__content-item.swiper-slide
                                        h4.services_font Vk.com
                                        ul 
                                            li
                                                span.blue_font (Архив диалогов VK.com)
                                                .price
                                                    include svg/coupon 
                                                    span.subtitle_font от 100$

                                        a(href="#").order
                                            .order-truck
                                                include svg/truck 
                                            span.menu_font  Заказать

                                    .slider__content-item.swiper-slide
                                        h4.services_font Vk.com
                                        ul 
                                            li
                                                span.blue_font (Архив диалогов VK.com)
                                                .price
                                                    include svg/coupon 
                                                    span.subtitle_font от 100$

                                        a(href="#").order
                                            .order-truck
                                                include svg/truck 
                                            span.menu_font  Заказать

                                    .slider__content-item.swiper-slide
                                        h4.services_font Vk.com
                                        ul 
                                            li
                                                span.blue_font (Архив диалогов VK.com)
                                                .price
                                                    include svg/coupon 
                                                    span.subtitle_font от 100$

                                        a(href="#").order
                                            .order-truck
                                                include svg/truck 
                                            span.menu_font  Заказать

                                .swiper-button-next
                                .swiper-pagination 
                                .swiper-button-prev

                        .conditions
                        .sales
                    .services__switcher
                        

        script(src="static//js//libs.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="static//js//main.js")
        script(src="static//js//services.js")