.all_services
    h2.blue_font Все услуги
    h3.headings_font Наши услуги
    .slider.swiper-container.swiper1
        .slider__content.swiper-wrapper
            .slider__content-item.swiper-slide
                h4.services_font Vk.com
                ul 
                    li
                        span.blue_font (Архив диалогов VK.com)
                        .price
                            include ../svg/coupon 
                            span.subtitle_font от 100$
                    li
                        span.blue_font (Архив диалогов VK.com)
                        .price
                            include ../svg/coupon 
                            span.subtitle_font от 100$
                    li
                        span.blue_font (Архив диалогов VK.com)
                        .price
                            include ../svg/coupon 
                            span.subtitle_font от 100$

                a(href="#").order
                    .order-truck
                        include ../svg/truck 
                    span.menu_font.makeOrder  Заказать

            .slider__content-item.swiper-slide
                h4.services_font Yandex.ru
                ul 
                    li
                        span.blue_font (Архив диалогов VK.com)
                        .price
                            include ../svg/coupon 
                            span.subtitle_font от 100$

                a(href="#").order
                    .order-truck
                        include ../svg/truck 
                    span.menu_font.makeOrder  Заказать

            .slider__content-item.swiper-slide
                h4.services_font Telegram(Рф)
                ul 
                    li
                        span.blue_font (Архив диалогов VK.com)
                        .price
                            include ../svg/coupon 
                            span.subtitle_font от 100$

                a(href="#").order
                    .order-truck
                        include ../svg/truck 
                    span.menu_font.makeOrder  Заказать

            .slider__content-item.swiper-slide
                h4.services_font Vk.com
                ul 
                    li
                        span.blue_font (Архив диалогов VK.com)
                        .price
                            include ../svg/coupon 
                            span.subtitle_font от 100$

                a(href="#").order
                    .order-truck
                        include ../svg/truck 
                    span.menu_font.makeOrder  Заказать

        .swiper__controls
            .swiper-button-prev
            .swiper-pagination 
            .swiper-button-next

