.conditions.hidded
    h2.blue_font Условия
    h3.headings_font Стоимость и условия оплаты 
    .conditions__content
        ul 
            li 
                h4.small_font_regular Способы оплаты:
                ul.payment
                    li 
                        a(href="#")
                            include ../svg/qiwi
                    li
                        a(href="#")
                            include ../svg/yandex
                    li
                        a(href="#")
                            include ../svg/bitcoin

                .description 
                    p.small_font_regular Взлом анкеты ВК*: 7000 р. (до 5 дней)
                    p.small_font_regular Срочный взлом ВК: 10000 р. (до 24 часов)
            li 
                h4.small_font_regular Сроки оплаты:
                p.services_font До 3х дней

                .description 
                    p.small_font_regular Взлом анкеты ВК*: 7000 р. (до 5 дней)
                    p.small_font_regular Срочный взлом ВК: 10000 р. (до 24 часов)
        .gray_text
            p.smallest_font * Взлом анкеты ВКонтакте подразумевает получения логина и пароля пользователя ВКонтакте, для дальнейшего входа на его(ее) страницу при условии того, что у пользователя не стоит дополнительная защита (двухфакторная аутентификация). Если у пользователя стоит двухфакторная аутентификация, ее потребуется обойти. Стоимость обхода указана выше.
            p.smallest_font ** Архив сообщений не является отдельной услугой, соответственно не предоставляется отдельно. Полную копию сообщений (архив сообщений) можно сделать только после полноценного взлома, стоимость которого составляет 7000 рублей.
            p.smallest_font *** Услуга "обход защиты" означает обход двухфакторной аутентификации при входе на страницу ВКонтакте (подтверждения входа с помощью смс-подтверждения).