.sales.hidded
    h2.blue_font Скидки
    .sales__content
        .sales__content-sales
            h3.headings_font Скидки для постояных клиентов
            p.main_font Размер Вашей скидки напрямую зависит от количества выполненных заказов.
            ul 
                li 
                    span.main_font 2 заказа
                    .progress_bar
                    span.footer_font-headings 5% скидка
                li 
                    span.main_font 3-4 заказа
                    .progress_bar
                    span.footer_font-headings 10% скидка
                li 
                    span.main_font 5-7 заказа
                    .progress_bar
                    span.footer_font-headings 15% скидка
                li 
                    span.main_font > 8 заказов
                    .progress_bar
                    span.footer_font-headings 20% скидка

        .sales__content-rules
            h3.headings_font Правила оплаты
            p.main_font После оплаты ни в коем случае не выкидывайте чек.
            p.main_font При оплате с сбербанка онлайна, с кошелька киви или с терминала киви нужно отправлять на 150 руб больше, т.к. существуют дополнительные, скрытые комиссии.
            p.main_font Все комиссии при оплате возложены на Вас. К нам на счет должна поступить сумма, указанная в разделе "цены".
            p.main_font Оплату мы принимаем на электронный кошелек Webmoney в любой валюте, согласно курсу. В некоторых случаях можно оплатить на QIWI либо Яндекс.деньги
            p.main_font Не всегда есть возможность отвечать моментально на Ваши сообщения. Пожалуйста, если после оплаты не поступил ответ - не паникуйте.