section.section
    section.services
        //- #order
        //-     .order_content
        //-         h2.blue_font Заказать
        //-         h3.headings_font Информация по заказу
        //-         p.review_font Внимание! Поля отмеченные * обязательны к заполнению! Остальные поля не обязательны!
        //-         span#order_price.subtitle_font Взлом Vk.com -1000р
        //-         form(action="")
        //-             label(for="name").review_font Ваше имя
        //-             input(type="text" id="name" name="name").medium_font
        //-             label(for="comment").review_font Коментарий
        //-             textarea(name="comment" id="comment").medium_font 
        //-             button(type="submit" ).medium_font Оставить коментарий

        .services__content.main_padding
            include all_services
            include conditions
            include sales

        .services__switcher
            ul#switcher 
                li.active( data-target=".all_services" ) 
                    .state_switcher
                        include ../svg/switch_state
                    span.small_font Все услуги
                li( data-target=".conditions" )  
                    .state_switcher
                        include ../svg/switch_state2
                    span.small_font Условия
                li( data-target=".sales" )  
                    .state_switcher
                        include ../svg/switch_state3
                    span.small_font Скидки