@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&family=Orbitron:wght@700&display=swap');

.logo_font
    font-family: 'Orbitron', sans-serif;
    font-size: calculateWidth(40)
    font-weight: bold;
    @media screen and ( max-width: 768px )
        font-size: tW(40)
    @media screen and ( max-width: 500px )
        font-size: 26px


.logo_font-header
    font-family: 'Orbitron', sans-serif;
    font-size: calculateWidth(20)
    font-weight: 500;
    @media screen and ( max-width: 768px )
        font-size: tW(20)
    @media screen and ( max-width: 500px )
        font-size: 20px

.logo_font-footer
    font-family: 'Orbitron', sans-serif;
    font-size: calculateWidth(20)
    font-weight: 500;
    color: $blue
    @media screen and ( max-width: 768px )
        font-size: tW(20)
    @media screen and ( max-width: 500px )
        font-size: 26px

.main_font
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(16)
    font-weight: 200;
    @media screen and ( max-width: 768px )
        font-size: tW(16)
    @media screen and ( max-width: 500px )
        font-size: 14px

.medium_font
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(18)
    font-weight: bold;
    @media screen and ( max-width: 768px )
        font-size: tW(18)
    @media screen and ( max-width: 500px )
        font-size: 18px

.headings_font
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(26)
    font-weight: 600;
    @media screen and ( max-width: 768px )
        font-size: tW(26)
    @media screen and ( max-width: 500px )
        font-size: 22px

.blue_font
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(14)
    font-weight: 300;
    font-style: italic
    color: $blue
    @media screen and ( max-width: 768px )
        font-size: tW(14)
    @media screen and ( max-width: 500px )
        font-size: 14px

.small_font
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(14)
    font-weight: bold;
    @media screen and ( max-width: 768px )
        font-size: tW(14)

.small_font_regular
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(14)
    font-weight: 400;
    @media screen and ( max-width: 768px )
        font-size: tW(14)
    @media screen and ( max-width: 768px )
        font-size: 14px

.menu_font
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(16)
    font-weight: 500;
    @media screen and ( max-width: 768px )
        font-size: tW(16)
    @media screen and ( max-width: 500px )
        font-size: 16px

.regular_font
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(16)
    font-weight: 400;
    @media screen and ( max-width: 768px )
        font-size: tW(16)
    @media screen and ( max-width: 500px )
        font-size: 16px

.subtitle_font
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(20)
    font-weight: bold
    @media screen and ( max-width: 768px )
        font-size: tW(20)
    @media screen and ( max-width: 500px )
        font-size: 20px

.footer_font-headings
    font-family: 'Montserrat', sans-serif;
    font-size: calculateWidth(20)
    font-weight: 500
    @media screen and ( max-width: 768px )
        font-size: tW(20)
    @media screen and ( max-width: 500px )
        font-size: 20px



