.reviews
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,46,51,1) 80%, rgba(9,46,51,1) 100%);
    width: 100%;
    height: 100vh
    display: flex;
    flex-direction: column;
    justify-content: center
    color: $white;
    max-width: calc( 100vw - 10.4166666667vw );
    h2 
        margin-bottom: calculateHeight(30)
    h3 
        margin-bottom: calculateHeight(20)
    p 
        margin-bottom: calculateHeight(60)
        color: $gray;
        max-width: 50%;
    &__content
        max-width: 80%
        display: flex;
        overflow-x: scroll
        @include scrollbars(.5em, $blue, $gray);
        &-item
            margin-right: calculateWidth(100)
            display: grid;
            grid-template-columns: auto 1fr
            min-width: 350px;
            width: 50%;
            grid-column-gap: 25px
            padding-bottom: calculateHeight(60)
            .img_wrapper
                grid-row: 1/3
            p 
                color: $white;
                max-width: initial
                margin-bottom: 20px
            .tags
                display: inline-flex;
                flex-wrap: wrap
                li 
                    margin-right: 15px
    &__new
        max-width: 80%
        margin-top: calculateHeight(45)
        display: flex;
        align-items: center;
        justify-content: space-between
        p
            margin-bottom: initial
            color: $white;
        a 
            display: flex;
            align-items: center;

            .plus
                width: calculateWidth(56)
                height: calculateWidth(56)
                background: $blue;
                border-radius: 50%
                position: relative
                &::after,
                &::before
                    position: absolute;
                    content: '';
                    height: 50%;
                    width: 2px; 
                    background: $white;
                    top: 50%;
                    margin-top: -25%;
                    left: 50%;
                    margin-left: -1px
                &::before
                    transform: rotate(90deg)
            span 
                margin-left: calculateWidth(27)
                color: $blue