.footer
          background: $dark2
          height: 100%;
          @media screen and ( max-width: 768px )
            width: 100%;
          &_content
            display: grid;
            grid-template-columns: repeat( 4, 1fr )
            padding-top: calculateHeight(67)
            @media screen and ( max-width: 768px )
              grid-template-columns: 1fr
              padding-top: calculateHeight(57)
              padding-bottom: calculateHeight(57)
              width: 100%;
            &-column
              display: flex;
              flex-direction: column;
              color: $white
              @media screen and ( max-width: 768px )
                align-items: center
                margin-bottom: 15px
              .header__navigation-social
                margin-top: 15px
                a 
                  svg 
                    width: 40px
                    height: 40px;
                    margin: 0 16px
              ul 
                margin-top: calculateHeight(30)
              .contact_list  
                li
                  width: 100%;
                  margin-bottom: 30px
                  a 
                    display: flex;
                    align-items: center;
                    span 
                      margin-left: calculateWidth(20)   
              .payment
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                @media screen and ( max-width: 768px )
                  align-items: center;
                  justify-content: center
                li 
                  margin-right: 15px     
              a 
                color: $white;
            .author
                justify-content: flex-end
                align-items: flex-end   
                @media screen and ( max-width: 768px )
                  display: none;