section.section
    #review
        .add_comment__content
            #reviewCross
            h2.blue_font Оставить коментарий
            h3.headings_font Оставить коментарий
            form(action="")
                label(for="name").review_font Ваше имя
                input(type="text" id="name" name="name").medium_font
                label(for="comment").review_font Коментарий
                textarea(name="comment" id="comment").medium_font 
                button(type="submit" ).medium_font Оставить коментарий

    .reviews.main_padding.first_section
        h2.blue_font Отзывы
        h3.headings_font Отзывы наших клиентов
        p.small_font_regular Мы не делаем форму отзывов у нас на сайте, так как отзывы на своем же сайте легко подделать, а негативные просто удалить. Наших клиентов мы просим оставлять отзывы на форумах, где негативные отзывы удалить НЕЛЬЗЯ!
        .reviews__content
            .reviews__content-item
                .img_wrapper
                    img(src="static/img/avatar.png", alt="avatar")
                p.main_font ”Ребята молодцы, настоящие профессионалы! Удивило, что страницу в вк взломали за сутки ...”
                ul.tags 
                    li.menu_font pacific
                    li.menu_font Migalki.pw
            .reviews__content-item
                .img_wrapper
                    img(src="static/img/avatar.png", alt="avatar")
                p.main_font ”Ребята молодцы, настоящие профессионалы! Удивило, что страницу в вк взломали за сутки ...”
                ul.tags 
                    li.menu_font pacific
                    li.menu_font Migalki.pw
            .reviews__content-item
                .img_wrapper
                    img(src="static/img/avatar.png", alt="avatar")
                p.main_font ”Ребята молодцы, настоящие профессионалы! Удивило, что страницу в вк взломали за сутки ...”
                ul.tags 
                    li.menu_font pacific
                    li.menu_font Migalki.pw
            .reviews__content-item
                .img_wrapper
                    img(src="static/img/avatar.png", alt="avatar")
                p.main_font ”Ребята молодцы, настоящие профессионалы! Удивило, что страницу в вк взломали за сутки ...”
                ul.tags 
                    li.menu_font pacific
                    li.menu_font Migalki.pw
            .reviews__content-item
                .img_wrapper
                    img(src="static/img/avatar.png", alt="avatar")
                p.main_font ”Ребята молодцы, настоящие профессионалы! Удивило, что страницу в вк взломали за сутки ...”
                ul.tags 
                    li.menu_font pacific
                    li.menu_font Migalki.pw
            .reviews__content-item
                .img_wrapper
                    img(src="static/img/avatar.png", alt="avatar")
                p.main_font ”Ребята молодцы, настоящие профессионалы! Удивило, что страницу в вк взломали за сутки ...”
                ul.tags 
                    li.menu_font pacific
                    li.menu_font Migalki.pw

        .reviews__new
            p.regular_font Тех, кто не зарегистрирован на форумах, мы просим оставлять отзывы здесь:
            a(href="#")#add_comment
                .plus
                span.menu_font Добавить комментарий