section.section.first_section
    .first_section-content.main_padding
        .first_section-content-block
            h1.logo_font Hacktougroup
            p.main_font Мы знаем как решить Ваши проблемы
        .first_section-content-block
            .image_block
                img(src="static/img/logo.png", alt="")
                a(href="#").medium_font.button.goTofooter Заказать взлом
            a(href="#").arrow_down 
        .first_section-content-block
            p.main_font Сервис по взлому соц сетей и почт на заказ
        .first_section-content-block.mobile_show
            a(href="#footer").medium_font.button Заказать взлoм
            a(href="#arrowTarget").arrow_down 