section.section.fives_section
    .fives_section-content.main_padding
        h2.blue_font Статьи 
        h3.headings_font Статьи, которые интересно будет Вам прочитать
        .articles
            a(href="post.html").article
                h4.subtitle_font Что такое "архив сообщений" и зачем он нужен?
                p.small_font_regular В этой статье Вы найдете детальное описания всех плюсов услуги выполнения "архива сообщений"
            a(href="post.html").article
                h4.subtitle_font Что такое "архив сообщений" и зачем он нужен?
                p.small_font_regular В этой статье Вы найдете детальное описания всех плюсов услуги выполнения "архива сообщений"
            a(href="post.html").article
                h4.subtitle_font Что такое "архив сообщений" и зачем он нужен?
                p.small_font_regular В этой статье Вы найдете детальное описания всех плюсов услуги выполнения "архива сообщений"
            a(href="post.html").article
                h4.subtitle_font Что такое "архив сообщений" и зачем он нужен?
                p.small_font_regular В этой статье Вы найдете детальное описания всех плюсов услуги выполнения "архива сообщений"
            a(href="post.html").article
                h4.subtitle_font Что такое "архив сообщений" и зачем он нужен?
                p.small_font_regular В этой статье Вы найдете детальное описания всех плюсов услуги выполнения "архива сообщений"
            a(href="post.html").article
                h4.subtitle_font Что такое "архив сообщений" и зачем он нужен?
                p.small_font_regular В этой статье Вы найдете детальное описания всех плюсов услуги выполнения "архива сообщений"
            a(href="post.html").article
                h4.subtitle_font Что такое "архив сообщений" и зачем он нужен?
                p.small_font_regular В этой статье Вы найдете детальное описания всех плюсов услуги выполнения "архива сообщений"
            a(href="post.html").article
                h4.subtitle_font Что такое "архив сообщений" и зачем он нужен?
                p.small_font_regular В этой статье Вы найдете детальное описания всех плюсов услуги выполнения "архива сообщений"