section.section.fourth_section
    .fourth_section-content.main_padding
        .fourth_section-content-left
            h2.blue_font Услуги <span class="blue_font_second blue_font"> Наш топ </span>
            .services
                .services-item.services-pr.services-pb
                    h3.headings_font MAIL.RU
                    p.regular_font (inbox.ru / bk.ru / list.ru)
                    .price
                        include ../svg/coupon 
                        span.subtitle_font от 100$
                    a(href="#").order
                        .order-truck
                            include ../svg/truck 
                        span.menu_font  Заказать
                .services-item.services-pl.services-pb
                    h3.headings_font MAIL.RU
                    p.regular_font (inbox.ru / bk.ru / list.ru)
                    .price
                        include ../svg/coupon 
                        span.subtitle_font от 100$
                    a(href="#").order.menu_font  
                        .order-truck
                            include ../svg/truck 
                        span.menu_font  Заказать
                .services-item.services-pr.services-pt
                    h3.headings_font MAIL.RU
                    p.regular_font (inbox.ru / bk.ru / list.ru)
                    .price
                        include ../svg/coupon 
                        span.subtitle_font от 100$
                    a(href="#").order.menu_font 
                        .order-truck
                            include ../svg/truck 
                        span.menu_font  Заказать
                .services-item.services-pl.services-pt
                    h3.headings_font MAIL.RU
                    p.regular_font (inbox.ru / bk.ru / list.ru)
                    .price
                        include ../svg/coupon 
                        span.subtitle_font от 100$
                    a(href="#").order.menu_font  
                        .order-truck
                            include ../svg/truck 
                        span.menu_font  Заказать

        .fourth_section-content-right
            .another_box
                .another_box-content
                    .another_box-content-inner
                        include ../svg/services_blocks