section.section.last_section
    .section_wrapper
        .last_section-content.main_padding
            h2.blue_font Предоставляем услуги для: 
            .partners
                .partners__content
                    a(href="#")
                        img(src="static/img/svg/darkmoney.svg", alt="")
                    a(href="#")
                        img(src="static/img/svg/darkmarket-removebg-preview.svg", alt="")
                    a(href="#")
                        img(src="static/img/svg/darkmoney.svg", alt="")
                    a(href="#")
                        img(src="static/img/svg/darkmoney.svg", alt="")
                    a(href="#")
                        img(src="static/img/svg/darkmoney.svg", alt="")
                    a(href="#")
                        img(src="static/img/svg/darkmoney.svg", alt="")
        include ../components/footer