section.section.second_section
    .second_section-content.main_padding
        .second_section-content-left.swiper-container.defaultLeft
            h2.blue_font Преимущества
            .progress
                span.progress_item_start.main_font 01
                .progress-line
                    .progress-line_animated
                span.progress_item_end.main_font 02
            .swiper-wrapper
                .swiper-slide(data-slide="1" data-heading="Страховка" )
                    h4.headings_font - Предлагаем архивацию сообщений.
                    p.main_font Очень удобный в использовании и чтении архив сообщений, который предоставляется в качестве дополнительной услуги
                .swiper-slide(data-slide="2" data-heading="Честность" )
                    h4.headings_font - Предлагаем архивацию сообщений.
                    p.main_font Очень удобный в использовании и чтении архив сообщений, который предоставляется в качестве дополнительной услуги
                .swiper-slide(data-slide="3" data-heading="Анонимность" )
                    h4.headings_font - Предлагаем архивацию сообщений.
                    p.main_font Очень удобный в использовании и чтении архив сообщений, который предоставляется в качестве дополнительной услуги
                .swiper-slide(data-slide="4" data-heading="Опыт" )
                    h4.headings_font - Предлагаем архивацию сообщений.
                    p.main_font Очень удобный в использовании и чтении архив сообщений, который предоставляется в качестве дополнительной услуги
        .second_section-content-right.defaultRight  
            .swiper-pagination 