section.section.third_section
    .third_section-content.main_padding
        .third_section-content-left
            h2.blue_font О нас
            h3.headings_font Взлом вконтакте на заказ. Кому и зачем?
            p.main_font Существует очень много разных причин для чего может быть полезен взлом страницы VK. Каждый преследует свою цель, но в большей мере играют чувства подозрения, любопытства, ревности и т.п.
            p.main_font Кто-то подозревает свою вторую половинку в измене. Кто-то беспокоится за своего якобы "взрослого" ребенка, который возможно где-то оступился и нужно вовремя оказать помощь, пока не поздно.
            p.main_font Но большинство, а может и всех из них интересует одно - личная переписка жертвы. То, что недоступно. То, что скрыто от посторонних глаз.
            p.main_font Информация дороже денег. Узнав всю правду, которую Вы сможете найти на странице жертвы - Вы поймете это.
            p.main_font Посмотрев следующие видео Вы сможете понять чем мы отличаемся от наших конкурентов и почему стоит обратиться именно к нам!
        .third_section-content-right
            .video_box
                .video_box-play_btn#play
                    .video_box-play_btn-inner
                
            video(src="static/video/video.mp4" controls="true")#video.hidded